:root {
    --red-color: #CF4647;
    --yellow-color: #F5D061;
    --white-color: #F8F6F6;
    --black-color: #2A363B;

    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Lato', sans-serif;
}

body{
    background-color: var(--white-color);
    width: 100%;
    height: 100vh;
}
.main-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* navbar */
.navbar-div{
    background-color: var(--white-color);
}
.navbar-head{
    display: flex;
    align-items: center;
}
.navbar-head img{
    margin: 0;
    width: 15%;
    height: 15%;
}
.navbar-head p{
    margin: 0;
    line-height: 100%;
}
.head-one{
    margin: 0;
    font-weight: 900;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--black-color);
}
.head-two{
    margin: 0;
    font-weight: 900;
    font-size: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--black-color);
}
.head-three{
    margin: 0;
    font-weight: 900;
    font-size: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--black-color);
}
.head-four{
    margin: 0;
    font-weight: 900;
    font-size: 80%;
    letter-spacing: 1px;
    color: var(--black-color);
}
.navbar-brand img{
    margin: 0;
    width: 60%;
    height: 60%;
}
.nav-link{
    color: var(--black-color);
    font-weight: 600;
    font-size: 100%;
    font-family: var(--secondary-font);
}
.nav-link:hover{
    color: var(--red-color);
}

/* img-carousel */
.img-carousel-div{
    padding: 0%;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer p{
    margin: 0;
    padding-top: 2%;
    font-size: 100%;
    font-family: var(--primary-font);
    font-weight: 500;
}