*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.img-background{
    width: 100vh;
	height: 100vh;
	background: no-repeat;
	background-size: cover;
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
	color: white;
    padding-bottom: 20px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.contact p{
    margin: 0;
    font-weight: 600;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
	color: white;
}

.marquee-container{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
}
.marquee-items span{
    margin-right: 5%;
    color: white;
    font-size: 120%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}